<div>
<%= raw markdown(@article.title) %>
<%= link_to "Edit the article", edit_article_path %>
</div>
<div>
<%= raw markdown(@article.content) %>
<%= link_to "back to index", articles_path %>
</div>


